<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>141</key>
	<string>“</string>
	<key>142</key>
	<string>”</string>
	<key>144</key>
	<string>’</string>
	<key>132</key>
	<string>-</string>
	<key>46</key>
	<string>.</string>
	<key>171</key>
	<string>«</string>
	<key>187</key>
	<string>»</string>
	<key>59</key>
	<string>;</string>
	<key>69</key>
	<string>E</string>
	<key>s49</key>
	<string>1</string>
	<key>67</key>
	<string>C</string>
	<key>111</key>
	<string>o</string>
	<key>112</key>
	<string>p</string>
	<key>121</key>
	<string>y</string>
	<key>114</key>
	<string>r</string>
	<key>105</key>
	<string>i</string>
	<key>103</key>
	<string>g</string>
	<key>104</key>
	<string>h</string>
	<key>116</key>
	<string>t</string>
	<key>97</key>
	<string>a</string>
	<key>120</key>
	<string>x</string>
	<key>101</key>
	<string>e</string>
	<key>109</key>
	<string>m</string>
	<key>108</key>
	<string>l</string>
	<key>118</key>
	<string>v</string>
	<key>110</key>
	<string>n</string>
	<key>128</key>
	<string>·</string>
	<key>47</key>
	<string>ΐ</string>
</dict>
</plist>
